@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=IBM+Plex+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'IBM Plex Sans';
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    height: auto;
}

main{    
    margin-left: 6.43%;    
}

main img{
    width: 146.09px;
    height: 32px;
    margin-top: 40px;    
}

main h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.454545px;
    color: #191826;
    margin-top: 64px;
}

main p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
    margin-top: 20px;
}

main{
    background-image: url(./assets/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position: left 5px top -210px;
}

section{
    position: relative;
    background: #191826;
    border-radius: 12px;
    height: 600px;
    margin-top: 166px;
}


.phone-image{
    display: block;
    position: absolute;
    width: 208.97px;
    height: 430px;
    top: -110px;
    left: 21.51%;    
}