@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=IBM+Plex+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'IBM Plex Sans';
    box-sizing: border-box;
    text-decoration: none;
    /* outline: solid red; */
}

body{
    max-width: 100vw;
    height: auto;
}

/* MAIN MOBILE */



main img{
    width: 146.09px;
    height: 32px;
    margin-top: 40px;
    margin-left: 6.43%;
    margin-right: 6.43%;    
}

main h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.454545px;
    color: #191826;
    margin-top: 64px;
    margin-left: 6.43%;
    margin-right: 6.43%;
}

main p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
    margin-top: 20px;
    margin-left: 6.43%;
    margin-right: 6.43%;
}

main{
    background-image: url(./assets/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position: left 5px top -210px;
}


/* SECTION MOBILE */

section{
    position: relative;
    background: #191826;
    border-radius: 12px;
    height: 600px;
    margin-top: 166px;
    background-image: url("./assets/bg-pattern-2.svg");
    background-repeat: no-repeat;
    background-position: left 48px top 0;
}


.phone-image{
    display: block;
    position: absolute;
    width: 208.97px;
    height: 430px;
    top: -110px;
    left: 21.51%;    
}

.info{
    height: 546px;
    background: #FA7453;
    border-radius: 12px;
    position: absolute;
    top: 425px;
}

.info h2{
    font-weight: 700;
    font-size: 32px;
    color: #FCFAF9;
    margin-left: 9.6%;
    margin-top: 48px;
}

.info p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FCFAF9;
    margin-left: 9.6%;
    margin-right: 9.6%;
    margin-top: 12px;
}

.info-price{
    display: flex;    
    align-items: center;
    margin-left: 9.6%;
    margin-top: 36px;    
}

.price{
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    color: #FCFAF9;    
}

.month{
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.2px;
    color: #FCFAF9;
    margin-left: 16px;
}
.apple-btn{
    display: flex;
    width: 296px;
    height: 61px;
    background: #191826;
    border-radius: 12px;
    margin-left: 9.6%;
    margin-top: 32px;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.18px;
    color: #FCFAF9;
}

.apple-btn img{
    margin-right: 8px;
}

.apple-btn:hover{
    background: #66E2DC;
}

.android-btn{
    display: flex;
    width: 296px;
    height: 61px;
    background: #FCFAF9;
    border-radius: 12px;
    margin-left: 9.6%;
    margin-top: 16px;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.18px;
    color: #191826;
}

.android-btn img{
    margin-right: 8px;
}

.android-btn:hover{
    background: #FFB964;
}

/* FOOTER MOBILE */

footer{
    margin-top: 450px;
    margin-left: 6.43%;
    margin-right: 6.43%;
}

footer img{
    width: 146.09px;
    height: 32px;
}

footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
    margin-top: 32px;
}

footer div{
    margin-top: 64px;
    margin-bottom: 80px;
}

div svg{
    margin-right: 20px;
}


div svg:hover #facebook,
div svg:hover #instagram,
div svg:hover #twitter{
    fill: #FA7453;
    cursor: pointer;
}


/* TABLET  */

@media screen and (min-width: 768px) {

    main{
        height: 665px;
        background: url("./assets/bg-main-tablet.png"), url("./assets/bg-pattern-1.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: left -371px top -329px, left 496px top -105px;      
    }

    main img{
        margin-top: 62px;
        margin-left: 5.07%;
    }

    main h1{
        margin-left: 5.07%;
        width: 520px;

        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.727273px;
    }

    main p{
        margin-left: 5.07%;
        width: 514px;

        font-size: 18px;
        line-height: 28px;
    }

    /* SECTION TABLET  */

    section{
        background-position: left 252px top -30px;
        margin-left: 4.29%;
        margin-right: 4.29%;
    }

    .phone-image{
        width: 270.21px;
        height: 556px;
        left: 12.63%;
    }

    .info{
        width: 399px;
        height: 546px;
        left: 272px;
        top: 180px;
    }

    /* FOOTER TABLET */

    footer{
        margin-top: 182px;
    }

    footer img{
        display: block;
        margin-left: 4.29%;
    }

    footer p{
        display: inline-block;
        width: 366px;
        height: 79px;
        margin-left: 4.29%;
    }

    footer div{
        display: inline-flex;
        margin-left: 18.22%;
    }
    
}

/* DESKTOP */
@media  screen and (min-width: 1440px) {

    main{
        height: 740px;
        background: url("./assets/bg-main-desktop.png"), url("./assets/bg-pattern-1.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: left -371px top -329px, left 1124px top -37px;
    }

    main img{
        margin-left: 11.45%;
        margin-top: 62px;
    }

    main h1{
        width: 850px;
        margin-left: 11.45%;
        margin-top: 127px;

        font-size: 88px;
        line-height: 88px;
        letter-spacing: -1px;
    }

    main p{
        width: 825px;
        margin-left: 11.45%;
        margin-top: 40px;

        font-size: 20px;
        line-height: 34px;
    }

    /* SECTION DESCTOP */

    section{
        margin-top: 120px;
        margin-left: 11.45%;
        margin-right: 11.45%;
        background-position: left 333px top -30px;
        height: 600px;
    }

    .phone-image{
        width: 312px;
        height: 642px;
        left: 100px;
    }

    .info{
        width: 446px;
        height: 625px;
        left: 570px;
        top: 100px;
    }

    .info h2{
        font-size: 40px;
        margin-left: 54px;
        margin-top: 58px;
    }

    .info p{
        font-size: 20px;
        line-height: 34px;
        margin-left: 54px;
        margin-right: 59px;
        margin-top: 22px;
    }

    .info-price{
        margin-left: 54px;
        margin-top: 39px;
    }

    .info a{
        margin-left: 54px;
        Width: 333px;
        Height: 61px;        
    }

    /* FOOTER DESKTOP */

    footer{
        display: flex;
        justify-content: space-between;
        margin-left: 11.45%;
        margin-right: 11.45%;
        margin-top: 202px;
    }

    footer img{
        display: inline-block;
        margin-top: 0;
        margin-left: 0;
        
    }

    footer p{
        margin-left: 137.76px;
        margin-top: 0;
        margin-bottom: 91px;
        
    }

    footer div{
        margin-top: 0;
        margin-bottom: 0;
    }
    
}